.container {
  display: flex;
  justify-content: space-between; /* Space between the content and image */
  align-items: center; /* Center content and image vertically */
  height: 100vh; /* Full viewport height */
  padding: 2rem; /* Padding around the container */
}

.content {
  display: flex;
  flex-direction: column; /* Stack title, description, and button vertically */
  align-items: flex-start; /* Align items to the start of the flex container */
  max-width: 50%; /* Ensure content does not take up more than half the width */
  /* padding: 5%; */
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem; /* Space between title and description */
}

.description {
  font-size: 1.25rem;
  color: #666;
  margin-bottom: 1.5rem; /* Space between description and button */
  padding-top: 4%;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}

.imageWrapper {
  
  display: flex;
  align-items: center; /* Center image vertically */
  max-width: 50%; /* Ensure image does not take up more than half the width */
}

.image {
  max-width: 100%; /* Ensure image scales with container */
  height: auto; /* Maintain aspect ratio */
}
